.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

.heading{
    font-size: 1.1rem;
}

.gallery img{
    width:220px;
    height:300px;
}

.about{
    flex-direction: column;
}

.about h2{
    text-align: center;
}

.about img{
    width: 260px;
    height: 190px;
    padding: 0;
}

.message{
    width:40%;
    height:200px;
}

.columns{
    grid-template-columns: 1fr;
    padding-left: 0;
}

.box{
    width: min(100%, 300px);
    height: auto;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}

.box-media img {
    height: 130px;
}

.box h2{
    color: #ff6b6b;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.box p{
    color:#dfe7f4;
    font-size: .8rem;
}